#navbar-signup {
    border-bottom: 1px solid #e6e6e6;
    height: 90px;
}

.navbar-brand {
    margin-left: 3%;
}

#sign-in {
    font-weight: 700;
    font-size: 20px;
    line-height: 90px;
    margin: 0 3%;
}

.container-simple {
    padding-bottom: 95px;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}

.container-center {
    padding: 20px 32px 60px;
}

.form-signup {
    max-width: 440px;
    margin: 0 auto;
    text-align: left;
}

.header-form {
    margin-top: 20px;
}

.content-form {
    margin-top: 8%;
}

.input-field {
    padding: 10px;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    height: 60px;
}

.input-field:focus {
    outline: none;
}

input[type="submit"] {
    border-radius: 4px;
    font-size: 24px;
    font-weight: 400;
    min-height: 64px;
    padding: 20px 48px;
    background-color: #e50914;
}

.btn-submit:hover {
    background-color: #f91827;
}
